.html {
    background-color: #000000;
}

.App {
    height: 100%;
    color: #ffffff;
    background-color: #1e1f21;
    text-align: center;
}

.Informationbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 10px solid #292a2d;
    border-radius: 10px;
    background-color: #292a2d;
    text-align: center;
}

.Informationbox p {
    display: flex;
    margin: 10px;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-weight: bold;
}