[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pandas = "*"
konlpy = "*"
mysqlclient = "*"
djangorestframework = "*"
setuptools = "==8.0.1"

[dev-packages]

[requires]
python_version = "3.8"
