.Appheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #09c75b;
    background-color: #292a2d;
    font-weight: 900;
    font-size: 2em;
    padding: 0.5em;
}

