.Pathindex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Pathindex .Informationbox {
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: flex-start;
  align-items: flex-start;
}

.timeValue {
  font-size: 30px;
}

.InformaitonTitle {
  justify-content: left;
}

.Routeinfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.Transportation {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 5px 5px 0;
  justify-content: center;
}