.html {
  background-color: #000000;
}

.App {
  margin: 0 20% 0 20%;
  height: 100vh;
  color: #ffffff;
  background-color: #1e1f21;
  text-align: center;
}

.Appheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #09c75b;
  background-color: #292a2d;
  font-weight: bold;
  font-size: calc(5px + 2vmin);
  justify-content: center;
}

.Informationbox {
  height: 80px;
  margin: 10px;
  border: 10px solid #292a2d;
  border-radius: 10px;
  background-color: #292a2d;
  text-align: left;
}

.Appbutton button {
  float: right;
  width: 99px;
  height: 38px;
  margin: 10px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #00ac31;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
